<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projeto.photoface">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:noHistory="true"
        android:theme="@style/Theme.ProjetoExemplo">
        <activity
            android:name=".LivenessActivity"
            android:exported="false" />
        <activity
            android:name=".CameraDocumentActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>